/* theme colors */
$bg-color: white;
$bg-primary-color-gradient: #0000ff;
$bg-secondary-color-gradient: #0000a3;
$primary-color: #060a24;
$secondary-color: #0000ec;
$primary-color-hover: #00f3bb;
$primary-color-gradient: #0000fe;
$primary-color-gradient-hover: #00f0b8;
/* theme fonts */
$primary-font: "IBM Plex Mono", monospace;
$secondary-font: "IBM Plex Sans", sans-serif;
