/* 
  responsive mode for mobile first
  main container content for website
*/
main {
  padding-top: 2.75rem;
  padding-bottom: 7.5rem;
  width: 100%;

  /* common-h2 */
  h2 {
    font-family: $secondary-font;
    font-weight: 500;
    font-size: 2.25rem;
  }
  /* common-button */
  input[type="button"] {
    /* format-style */
    width: 100%;
    max-width: 18rem;
    height: 3rem;
    border: none;
    color: $primary-color;
    background: $primary-color-hover;
    cursor: pointer;
    /* font-settings */
    font-family: $primary-font;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      background-image: linear-gradient(
        225deg,
        $primary-color-gradient 0%,
        $primary-color-gradient-hover 100%
      );
    }
  }
  /* common-img */
  img {
    display: block;
    width: 20rem;
    object-fit: contain;
  }
  /* common-section-layout */
  section {
    /* format-layout */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* 
    section-bienvenido 
  */
  section.bienvenido {
    /* format-h2*/
    h2 {
      padding: 1.875rem 1rem 0 1rem;
      span {
        text-decoration: line-through;
      }
    }
    /* format-p */
    p {
      padding: 1rem 1rem 0 1rem;
    }
    /* format-button */
    input[type="button"] {
      margin: 2.25rem 1rem;
    }
  }

  /* section-episodios */
  section.episodios {
    /* section-backgraund-gradient*/
    transform: skewY(-4deg);
    background-image: linear-gradient(
      225deg,
      $bg-primary-color-gradient 0%,
      $bg-secondary-color-gradient 100%
    );
    padding-top: 64px;
    padding-bottom: 8.5rem;

    /* format-h2 */
    div.container {
      transform: skewY(4deg);
      h2 {
        padding: 0 1rem 0.75rem 1rem;
        align-self: flex-start;
        color: $bg-color;
      }
      /* format-container-layout */
      div.podcast {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* format-elements */
        iframe {
          margin-top: 0.625rem;
          width: 18.625rem;
          height: 14.5rem;
          background-color: $primary-color;
          border-radius: 1rem;
        }
      }
    }
  }

  /* section-nosotros */
  section.nosotros {
    /* format-img */
    img.flotar {
      position: relative;
      overflow: visible;
      margin: -5rem 0 0 0;
    }
    /* format-h2 */
    h2 {
      padding: 1.75rem 1rem 0 1rem;
      align-self: flex-start;
    }
    /* format-p */
    p {
      font-size: 0.875rem;
      padding: 0.5rem 1rem;
    }
  }

  /* section-entrevistas */
  section.entrevistas {
    /* format-h2 */
    h2 {
      align-self: flex-start;
      padding: 2.875rem 1rem 0.875rem 1rem;
    }
    /* format-container-layout */
    div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  /* section-topicos */
  section.topicos {
    /* format-h2 */
    h2 {
      padding: 3rem 1rem 1.5rem 1rem;
    }
    /* format-container-layout */
    div.topic {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2.5rem;
      /* format-elements */
      img {
        height: 6.5rem;
        width: 6.5rem;
        margin: 0.875rem 0;
      }
      h3 {
        width: 100%;
        padding: 0 1rem;
        text-align: center;
      }
    }
  }

  /* section-novedades */
  section.novedades {
    /* section-backgraund-gradient*/
    transform: skewY(-4deg) translateY(88px);
    background-image: linear-gradient(
      225deg,
      $bg-primary-color-gradient 0%,
      $bg-secondary-color-gradient 100%
    );
    padding-top: 44px;
    padding-bottom: 66px;
    position: relative;
    /* format-h2 */
    div.container {
      transform: skewY(4deg);
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        padding: 0 1rem;
        color: $bg-color;
        text-align: center;
      }
      /* format-input */
      input {
        margin: 2.25rem 1rem 4.25rem 1rem;
      }
    }
  }
}

/* 
  container responsive mode for desktop
  min width: 768px = 48rem
*/
@media (min-width: 48rem) {
  main {
    $varMargin: 5.5rem;

    padding: 5rem 0 5.5rem 0;

    /* common-button */
    input[type="button"] {
      font-size: 1.125rem;
    }

    section.bienvenido {
      /* h2-position */
      h2 {
        align-self: flex-start;
        padding: 2rem 0 0 $varMargin;
      }
      /* format-p */
      p {
        align-self: flex-start;
        padding: 0 $varMargin;
      }
      /* format-button */
      input[type="button"] {
        align-self: flex-start;
        margin: 3rem 0 6rem $varMargin;
        max-width: 14rem;
        height: 3.5rem;
      }
    }

    section.episodios {
      div.container {
        width: 100%;
        h2 {
          padding: 0 0 1.5rem $varMargin;
          align-self: flex-start;
        }
        /* format-container-layout */
        div.podcast {
          width: 100%;
          padding: 0 calc($varMargin * 0.7) 4.5rem calc($varMargin * 0.7);
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          /* format-elements */
          iframe {
            margin-top: 0;
            margin-bottom: 3.3rem;
            width: 22rem;
          }
        }
      }
    }
  }
}

/* 
  limit screen max width to 1200px = 75rem 
  and center the container in the viewport
*/
@media (min-width: 75rem) {
  main {
    max-width: 75em;
    margin: 0 calc((100% - 75rem) / 2);
  }
}
