/* 
  responsive for mobile
  main container with sections
*/
main {
  padding-top: 2.75rem;
  padding-bottom: 7.5rem;
  width: 100%;

  /* common-style */
  h2 {
    font-family: $secondary-font;
    font-weight: 500;
    font-size: 2.25rem;
  }

  input[type="button"] {
    /* format */
    width: 100%;
    max-width: 18rem;
    height: 3rem;
    border: none;
    color: $primary-color;
    background: $primary-color-hover;
    cursor: pointer;
    /* font */
    font-family: $primary-font;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      background-image: linear-gradient(
        225deg,
        $primary-color-gradient 0%,
        $primary-color-gradient-hover 100%
      );
    }
  }

  img {
    display: block;
    width: 20rem;
    object-fit: contain;
  }

  section {
    /* layout */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* common-style-end */

  /* 
    section
    bienvenido 
  */
  section.bienvenido {
    h2 {
      padding: 1.875rem 1rem 0 1rem;

      span {
        text-decoration: line-through;
      }
    }

    p {
      padding: 1rem 1rem 0 1rem;
    }

    input[type="button"] {
      margin: 2.25rem 1rem;
    }
  }

  /* 
    section
    episodios
  */
  section.episodios {
    padding-top: 4rem;
    padding-bottom: 8.5rem;

    /* background-transform */
    transform: skewY(-4deg);
    background-image: linear-gradient(
      225deg,
      $bg-primary-color-gradient 0%,
      $bg-secondary-color-gradient 100%
    );

    div.container {
      transform: skewY(4deg);

      h2 {
        padding: 0 1rem 0.75rem 1rem;
        align-self: flex-start;
        color: $bg-color;
      }

      /* container-podcast */
      div.podcast {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        /* element-podcast */
        iframe {
          margin-top: 0.625rem;
          width: 18.625rem;
          height: 14.5rem;
          background-color: $primary-color;
          border-radius: 1rem;
        }
      }
    }
  }

  /* 
    section
    nosotros
  */
  section.nosotros {
    /* floating img */
    img.flotar {
      position: relative;
      overflow: visible;
      margin: -5rem 0 0 0;
    }

    /* description */
    div.container {
      h2 {
        padding: 1.75rem 1rem 0 1rem;
        align-self: flex-start;
      }

      p {
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
      }
    }
  }

  /*
    section
    entrevistas
  */
  section.entrevistas {
    h2 {
      align-self: flex-start;
      padding: 2.875rem 1rem 0.875rem 1rem;
    }

    div.container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  /*
    section
    topicos
  */
  section.topicos {
    h2 {
      padding: 3rem 1rem 1.5rem 1rem;
    }

    div.container {
      display: flex;
      flex-direction: column;

      /* elements */
      div.topic {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.5rem;

        img {
          height: 6.5rem;
          width: 6.5rem;
          margin: 0.875rem 0;
        }

        h3 {
          width: 100%;
          padding: 0 1rem;
          text-align: center;
        }
      }
    }
  }

  /*
    section
    novedades
  */
  section.novedades {
    position: relative;
    padding-top: 2.75rem;
    padding-bottom: 4rem;

    /* background-transform */
    transform: skewY(-4deg) translateY(5.5rem);
    background-image: linear-gradient(
      225deg,
      $bg-primary-color-gradient 0%,
      $bg-secondary-color-gradient 100%
    );

    div.container {
      transform: skewY(4deg);
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        padding: 0 1rem;
        color: $bg-color;
        text-align: center;
      }

      input {
        margin: 2.25rem 1rem 4.25rem 1rem;
      }
    }
  }
}

/* 
  responsive for desktop
  min width: 768px = 48rem
*/
@media (min-width: 48rem) {
  main {
    $varMargin: 5.5rem;

    padding: 5rem 0 $varMargin 0;

    h2 {
      font-size: 3rem;
    }

    input[type="button"] {
      font-size: 1.125rem;
    }

    section.bienvenido {
      h2 {
        font-size: 4rem;
        align-self: flex-start;
        padding: 2rem 0 0 $varMargin;
      }

      p {
        font-size: 1rem;
        align-self: flex-start;
        padding: 0.5rem $varMargin;
      }

      input[type="button"] {
        align-self: flex-start;
        margin: 3rem 0 6rem $varMargin;
        max-width: 14rem;
        height: 3.5rem;
      }
    }

    section.episodios {
      div.container {
        width: 100%;

        h2 {
          padding: 0 0 1.5rem $varMargin;
          align-self: flex-start;
        }

        div.podcast {
          width: 100%;
          padding: 0 calc($varMargin * 0.7) 4.5rem calc($varMargin * 0.7);
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;

          iframe {
            margin-top: 0;
            margin-bottom: 3.3rem;
            width: 22rem;
          }
        }
      }
    }

    section.nosotros {
      flex-direction: row;

      img.flotar {
        position: relative;
        overflow: visible;
        margin: -5rem 0 0 0;
      }

      div.container {
        padding: 0 $varMargin 0 1rem;

        h2 {
          padding: 0 0;
        }

        p {
          font-size: 1rem;
          padding: 0.5rem 0;
        }
      }
    }

    section.entrevistas {
      h2 {
        padding: 3rem $varMargin 2rem $varMargin;
      }

      div.container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
      }
    }

    section.topicos {
      h2 {
        padding: 3rem $varMargin 3rem $varMargin;
        text-align: center;
      }

      div.container {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 calc($varMargin * 0.7) 5.5rem calc($varMargin * 0.7);
        div.topic {
          margin: 0;

          img {
            margin: 0.875rem 0;
          }
        }
      }
    }

    section.novedades {
      div.container {
        input {
          width: 21.5rem;
          height: 3.5rem;
        }
      }
    }
  }
}
