/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&family=IBM+Plex+Sans:wght@400;600&display=swap");
/* fontawesome v5 */
@import url("https://use.fontawesome.com/releases/v5.15.1/css/fontawesome.css");
@import url("https://use.fontawesome.com/releases/v5.15.1/css/regular.css");
@import url("https://use.fontawesome.com/releases/v5.15.1/css/brands.css");
/* partials */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* theme colors */
/* theme fonts */
body {
  font-family: "IBM Plex Mono", monospace, "IBM Plex Sans", sans-serif;
  background-color: white;
}

/* 
  limit screen max width to 1200px = 75rem 
  and center the container in the viewport
*/
@media (min-width: 75rem) {
  header,
  main,
  footer {
    max-width: 75em;
    margin: 0 calc((100% - 75rem) / 2);
  }
}

/* 
  responsive for mobile
  navbar menu with hamburguer button
*/
header {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 2.75rem;
  z-index: 3;
  /* items-list */
  /* items-list-end */
  /* logo-svg */
  /* hamburguer */
  /* hamburguer-end */
  /* menu-btn */
  /* menu-btn-end */
}

header a {
  color: #060a24;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: white;
}

header li a {
  display: block;
  padding: 1.25rem 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

header li a:hover {
  color: #00f3bb;
  text-decoration: line-through;
}

header li a:active {
  color: white;
  opacity: 0.55;
  text-decoration: line-through;
}

header .menu {
  clear: both;
  max-height: 0;
  background-color: #0000ec;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

header .logo {
  display: block;
  float: left;
  padding: 0.5rem 0 0.5rem 1rem;
  text-decoration: none;
}

header .logo img {
  height: 1.5rem;
}

header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 1.313rem 1.188rem;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .menu-icon .navicon {
  background: #060a24;
  display: block;
  height: 0.125rem;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  width: 1rem;
}

header .menu-icon .navicon:before, header .menu-icon .navicon:after {
  background: #060a24;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}

header .menu-icon .navicon:before {
  top: 0.313rem;
}

header .menu-icon .navicon:after {
  top: -0.313rem;
}

header .menu-btn {
  display: none;
  /* 
      show mobile menu list of items
      1 element = 3.75rem height
    */
  /* hamburguer-animation */
  /* hamburguer-animation-end */
}

header .menu-btn:checked ~ .menu {
  max-height: calc(4 * 3.75rem);
}

header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 
  responsive for desktop
  min width: 768px = 48rem
*/
@media (min-width: 48rem) {
  header {
    height: 5rem;
    /* logo-svg */
    /* items-list */
    /* 
      disables touchable label
      input checkbox is unreachable
    */
  }
  header ul {
    padding-right: 6.25rem;
  }
  header li {
    float: left;
  }
  header li a {
    padding: 1.625rem 0 1.625rem 3rem;
    line-height: 1.75rem;
    color: #060a24;
  }
  header li a:active {
    color: #060a24;
    opacity: 0.55;
    text-decoration: line-through;
  }
  header .logo {
    padding: 1.25rem 0 1.25rem 6.25rem;
  }
  header .logo img {
    height: 2.25rem;
  }
  header .menu {
    clear: none;
    float: right;
    max-height: none;
    background-color: white;
  }
  header .menu-icon {
    display: none;
  }
}

/* 
  responsive for mobile
  main container with sections
*/
main {
  padding-top: 2.75rem;
  padding-bottom: 7.5rem;
  width: 100%;
  /* common-style */
  /* common-style-end */
  /* 
    section
    bienvenido 
  */
  /* 
    section
    episodios
  */
  /* 
    section
    nosotros
  */
  /*
    section
    entrevistas
  */
  /*
    section
    topicos
  */
  /*
    section
    novedades
  */
}

main h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
}

main input[type="button"] {
  /* format */
  width: 100%;
  max-width: 18rem;
  height: 3rem;
  border: none;
  color: #060a24;
  background: #00f3bb;
  cursor: pointer;
  /* font */
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}

main input[type="button"]:hover {
  background-image: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
}

main img {
  display: block;
  width: 20rem;
  -o-object-fit: contain;
     object-fit: contain;
}

main section {
  /* layout */
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.bienvenido h2 {
  padding: 1.875rem 1rem 0 1rem;
}

main section.bienvenido h2 span {
  text-decoration: line-through;
}

main section.bienvenido p {
  padding: 1rem 1rem 0 1rem;
}

main section.bienvenido input[type="button"] {
  margin: 2.25rem 1rem;
}

main section.episodios {
  padding-top: 4rem;
  padding-bottom: 8.5rem;
  /* background-transform */
  -webkit-transform: skewY(-4deg);
          transform: skewY(-4deg);
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
}

main section.episodios div.container {
  -webkit-transform: skewY(4deg);
          transform: skewY(4deg);
  /* container-podcast */
}

main section.episodios div.container h2 {
  padding: 0 1rem 0.75rem 1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: white;
}

main section.episodios div.container div.podcast {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* element-podcast */
}

main section.episodios div.container div.podcast iframe {
  margin-top: 0.625rem;
  width: 18.625rem;
  height: 14.5rem;
  border: none;
  background-color: #060a24;
  border-radius: 1rem;
}

main section.nosotros {
  /* floating img */
  /* description */
}

main section.nosotros img.flotar {
  position: relative;
  overflow: visible;
  margin: -5rem 0 0 0;
}

main section.nosotros div.container h2 {
  padding: 1.75rem 1rem 0 1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

main section.nosotros div.container p {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

main section.entrevistas h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 2.875rem 1rem 0.875rem 1rem;
}

main section.entrevistas div.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.topicos h2 {
  padding: 3rem 1rem 1.5rem 1rem;
}

main section.topicos div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* elements */
}

main section.topicos div.container div.topic {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}

main section.topicos div.container div.topic img {
  height: 6.5rem;
  width: 6.5rem;
  margin: 0.875rem 0;
}

main section.topicos div.container div.topic h3 {
  width: 100%;
  padding: 0 1rem;
  text-align: center;
}

main section.novedades {
  position: relative;
  padding-top: 2.75rem;
  padding-bottom: 4rem;
  /* background-transform */
  -webkit-transform: skewY(-4deg) translateY(5.5rem);
          transform: skewY(-4deg) translateY(5.5rem);
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
}

main section.novedades div.container {
  -webkit-transform: skewY(4deg);
          transform: skewY(4deg);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.novedades div.container h2 {
  padding: 0 1rem;
  color: white;
  text-align: center;
}

main section.novedades div.container input {
  margin: 2.25rem 1rem 4.25rem 1rem;
}

/* 
  responsive for desktop
  min width: 768px = 48rem
*/
@media (min-width: 48rem) {
  main {
    padding: 5rem 0 5.5rem 0;
  }
  main h2 {
    font-size: 3rem;
  }
  main input[type="button"] {
    font-size: 1.125rem;
  }
  main section.bienvenido h2 {
    font-size: 4rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 2rem 0 0 5.5rem;
  }
  main section.bienvenido p {
    font-size: 1rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 0.5rem 5.5rem;
  }
  main section.bienvenido input[type="button"] {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 3rem 0 6rem 5.5rem;
    max-width: 14rem;
    height: 3.5rem;
  }
  main section.episodios div.container {
    width: 100%;
  }
  main section.episodios div.container h2 {
    padding: 0 0 1.5rem 5.5rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  main section.episodios div.container div.podcast {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.episodios div.container div.podcast iframe {
    margin-top: 0;
    margin-bottom: 3.3rem;
    width: 22rem;
  }
  main section.nosotros {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main section.nosotros img.flotar {
    position: relative;
    overflow: visible;
    margin: -5rem 0 0 0;
  }
  main section.nosotros div.container {
    padding: 0 5.5rem 0 1rem;
  }
  main section.nosotros div.container h2 {
    padding: 0 0;
  }
  main section.nosotros div.container p {
    font-size: 1rem;
    padding: 0.5rem 0;
  }
  main section.entrevistas h2 {
    padding: 3rem 5.5rem 2rem 5.5rem;
  }
  main section.entrevistas div.container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main section.topicos h2 {
    padding: 3rem 5.5rem 3rem 5.5rem;
    text-align: center;
  }
  main section.topicos div.container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0 calc($varMargin * 0.7) 5.5rem calc($varMargin * 0.7);
  }
  main section.topicos div.container div.topic {
    margin: 0;
  }
  main section.topicos div.container div.topic img {
    margin: 0.875rem 0;
  }
  main section.novedades div.container input {
    width: 21.5rem;
    height: 3.5rem;
  }
}

/* 
  responsive for mobile
  footer with fontawesome
*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  /* copyright */
  /* social media icon links */
}

footer p {
  padding-top: 1.5rem;
  font-size: 0.875rem;
}

footer ul {
  width: 13.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding-top: 1rem;
}

footer ul a {
  color: #060a24;
}

footer ul li i {
  font-size: 1rem;
}

/* 
  responsive for desktop
  min width: 768px = 48rem
*/
@media (min-width: 48rem) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 5.5rem;
  }
  footer p {
    padding-top: 0;
    padding-left: 6.25rem;
  }
  footer ul {
    padding-top: 0;
    margin-right: 6.25rem;
  }
}
/*# sourceMappingURL=styles.css.map */